# Binaries
bin/
*.exe
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
coverage.out

# Dependency directories
vendor/

# Go workspace file
go.work
go.work.sum

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Temporal
.temporal/

# env file
.env


# Ignore Direnv
.envrc*

# Ignore mise
mise.local.toml
